<ion-header collapse="condense" 
            class= "header">

    <ion-toolbar color = "darkest-blue" >
      <!--Image holder-->
      <ion-thumbnail slot="start">
        <!--Logo of E-CoNature-->        
        <ion-img src="assets\logo\ECo.png">
        </ion-img>
      </ion-thumbnail>
      <ion-title size="large" 
                class="econature">
        E-CoNature
      </ion-title>
      
      <!--Hamburger Icon-->
      <ion-buttons slot="end" 
                    class="menu_button">
        <ion-menu-button class="menu_button"
                           menu="donor_menu">
        
        </ion-menu-button>
      </ion-buttons>
      
    </ion-toolbar>
</ion-header>

<ion-content padding class = "background">
  <h2>Activities</h2>
  <ion-card *ngFor = "let donor of activities">
    <ion-card-header class = "head">
      <ion-img [src] = "donor.image"></ion-img>
      <ion-card-title class = "text"> {{donor.activity}} </ion-card-title>
      <ion-label class = "text-a"> {{donor.info}} </ion-label>
    </ion-card-header>
  </ion-card>
</ion-content>

 
 <ion-footer collapse="fade" 
 class="footer">

<ion-toolbar color = "dark-green">
<ion-thumbnail slot="primary">
<!--Save Calumpang River Movement, Inc. Logo-->
<ion-img src="assets\logo\SACRM.png">
</ion-img>
</ion-thumbnail>

<!--Text on footer-->
<ion-title size="small" 
   class="sacrm">
Donation Application for Save Calumpang River Movement, Inc.
</ion-title>

</ion-toolbar>
</ion-footer>
