<ion-header collapse="condense" 
            class= "header">

    <ion-toolbar color = "darkest-blue" >
      <!--Image holder-->
      <ion-thumbnail slot="start">
        <!--Logo of E-CoNature-->        
        <ion-img src="assets\logo\ECo.png">
        </ion-img>
      </ion-thumbnail>
      <ion-title size="large" 
                class="econature">
        E-CoNature
      </ion-title>
      
      <!--Hamburger Icon-->
      <ion-buttons slot="end" 
                    class="menu_button">
        <ion-menu-button class="menu_button"
                           menu="donor_menu">
        
        </ion-menu-button>
      </ion-buttons>
      
    </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <h2>FAQs</h2>
 
  <ion-card>
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item  slot="header" color="success">
          <ion-label color="dark"><b>Is your donation application secure?</b></ion-label>
        </ion-item>
        <div slot="content">
            <ion-item>
              <ion-label color="success">Activity 1</ion-label>
              <ion-text color="dark">
                <h1>Yes. Our donation page is hosted securely. Processing is handled by our industry-leading partners, G-cash, credit, and cash.</h1>
              </ion-text>              
            </ion-item>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-card>


  <ion-card>
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item  slot="header" color="success">
          <ion-label color="dark"><b>What should I do if I have a complaint?</b></ion-label>
        </ion-item>
        <div slot="content">
            <ion-item>
              <ion-label color="success">Activity 1</ion-label>
              <ion-text color="dark">
                <h1>As an organisation we are committed to best practice and we take all complaints seriously. Please direct any complaint about our fundraising activity to the E-CoNature team. We will ensure we treat all complaints politely, fairly, and in confidence.</h1>
              </ion-text>              
            </ion-item>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-card>

  <ion-card>
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item  slot="header" color="success">
          <ion-label color="dark"><b>How do i contact your E-CoNature team?</b></ion-label>
        </ion-item>
        <div slot="content">
            <ion-item>
              <ion-label color="success">Activity 1</ion-label>
              <ion-text color="dark">
                <h1>Please drop us a line on +6397-8692-5841 or facebook account: E-CoNature</h1>
              </ion-text>   
            </ion-item>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-card>


  <ion-card>
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item  slot="header" color="success">
          <ion-label color="dark"><b>How will my donation help?</b></ion-label>
        </ion-item>
        <div slot="content">
            <ion-item>
              <ion-label color="success">Activity 1</ion-label>
              <ion-text color="dark">
                <h1>Your donation will help to save calumpang river. Unless you have specified a restrictions on how donation can be used, it will be channelled into our core funds which underpin the running of our E-CoNature program.</h1>
              </ion-text> 
            </ion-item>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-card>


  
</ion-content>
 
 <ion-footer collapse="fade" 
 class="footer">

<ion-toolbar color = "dark-green">
<ion-thumbnail slot="primary">
<!--Save Calumpang River Movement, Inc. Logo-->
<ion-img src="assets\logo\SACRM.png">
</ion-img>
</ion-thumbnail>

<!--Text on footer-->
<ion-title size="small" 
   class="sacrm">
Donation Application for Save Calumpang River Movement, Inc.
</ion-title>

</ion-toolbar>
</ion-footer>

