.header{
  position: relative;
  background-color: #001250;
  box-shadow: 0 .5rem .5rem rgb(0, 0, 0, .1);
}

/*Title of the App*/
.econature{
  color:#FFFF;
  text-align: center;
}

/*Button to be toggled*/
.menu_button{
  size: large;
  color:#D4F6BF;
}

.ion-page {
  background-color: white;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  contain: layout size style;
  overflow: hidden;
  z-index: 0;
}
h2{
  color: black;
  font-size:27px;
  text-align: center;
  font-weight: bold;
}
ion-content.background{
  --ion-background-color: white;
}
.card-header{
  background: white;
  margin-left: 10px;
  margin-right: 10px;
}

p{
  color: black;
  text-align:center
}

.text{
  color:black;
}

.text-a{
  color:black;
  text-align: center;
}

 /*For footer*/
 .footer{
  position: relative;
  background-color: #0A4700;
  box-shadow: 0 .5rem .5rem rgb(0, 0, 0, .1);
}

/*For donation application for SACRM*/
.sacrm{
  color:#FFFF;
  text-align: center;
}


